<!DOCTYPE html>
<form action="/Auth/login" method="post">
    <label for="email">email:</label>
    <input type="text" id="email" name="email"><br><br>
    <label for="password">Last password:</label>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="Submit">
  </form>
<br/>
<br/>
<a href="/Loup"><input type="button" value="LOUP"/></a>
<a href="/Loup/admin"> <input type="button" value="LOUP_ADMIN"/></a>